.mainContent {
  text-align: center;
}
.mainContent h1 {
  font-size: 60px;
  margin: 40px 0;
}
.mainContent form {
  width: -webkit-fill-available;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainContent section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  margin: 0 20px 20px;
}
.mainContent input {
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
}
.mainContent input[type=text] {
  width: 100%;
}
.mainContent input[type=submit] {
  background-color: dodgerblue;
  cursor: pointer;
  color: white;
  border: none;
}
.mainContent .pokemonResults {
  max-width: 980px;
  margin: auto;
  padding: 0 20px 20px;
}